body{
    background-color: rgb(6, 94, 145);
    margin: 0px;
}

div.header{
    text-align: center;
    color: white;
    padding:1px;
}
div.floater{

    background-color: #2E4053;  
    padding: 10px;
    position: sticky;
    top: 0;
}
a.flot{
    text-decoration: none;
    padding: 10px;
    color:#EAECEE;
}
a.flot:hover{
    color: white;
    background-color: rgb(6, 94, 145);
}
a.sign{
    float:  right;
    text-decoration: none;
    padding: 5px;
    color:rgb(118, 194, 245);
}
a.sign:hover{
    color: white;
   
}
div.grid{
    background-color:  #85C1E9 ;
    width:25%;
    height: 100%;
    float: right;
}
div#grid1{
 height: 100px;
 width: 100px;
 background-color:  white;
 float: left;
 margin: 50px 0px 50px 50px;
  
}

div#grid2{
    height: 100px;
    width: 100px;
    background-color:  white;
    float: right;
    margin: 50px 50px 50px 0px;
}
div#grid3{
    height: 100px;
    width: 100px;
    background-color:  white;
    float: left;
    margin: 0px 0px 50px 50px;
}
div#grid4{
    height: 100px;
    width: 100px;
    background-color:  white;
    float: right;
    margin: 0px 50px 50px 0px;
}
div#grid5{
    height: 100px;
    width: 100px;
    background-color:  white;
    float: left;
    margin: 0px 0px 0px 50px;
}
div#grid6{
    height: 100px;
    width: 100px;
    background-color:  white;
    float: right;
    margin: 0px 50px 0px 0px;
}
img.imag{
    height: 100%;
    width: 100%;
}




div.main{
    background-color: white;
    width:75%;
    height: 100%;
    float: left;

}
iframe{
    width:100%;
    height: 100%;
    float: left;
    

}
img.myslides{
    height:300px;
    width:100%;
    display: none;

}
div.sleft{
    float:"left";
    width:20px;
}
div.sright{
    float:"right";
    width:20px;
}
.w3-content{
    width:100%;
}

.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:10px;width:5px;padding:0}